:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-image: url(./assets/img/prueba7.svg);
  background-size: contain;
  scroll-behavior: smooth;
  translate: no;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  margin: 0 ;
  padding: 0;
  text-align: center;
}
